//Palette
$primary-color: white;
$secondary-color: #060A24;
$accent-color:  #0000EC;
$btn-color:  #00F3BB;
$btn-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

//Fonts
$primary-font: "IBM Plex Sans", sans-serif;
$secondary-font: "IBM Plex Mono", monospace;
